html {
  --color-bg: #fefefe;
  --color-header-bg: #7d9d9c;
  --color-tag: #e0dbce;
  --color-tag-hover: #cbc8bf;
  --color-text: #3a4850;
  --color-text-secondary: #848e93;
  --color-link: #007bff;
  --color-link-hover: #0056b3;
  --color-border: #3a4850;
  --color-hover: #f8f6f0;
  --color-shadow: #3a4850;
}
