---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1>404 Not Found</h1>
    <p>お探しのページが見つかりませんでした。</p>

    <p>
      申し訳ございません。お客様がアクセスしようとしたページが見つかりませんでした。
      <br />
      ページが移動または削除されたか、URLの入力間違いの可能性があります。
      <br />
      正しいURLをご入力いただくか、メニューからご覧になりたい情報をお探しください。
    </p>

    <a href="/">トップページへ戻る</a>
  </div>
</Layout>
