<div class="container">
  <slot />
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  @media (width <= 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
</style>
