<header class="header">
  <a class="topLink" href="/">レシピ置き場</a>
</header>

<style>
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: transparent;
    border-bottom: 2px solid var(--color-border);
  }

  .topLink {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.5rem;
  }
</style>
