<div class="pageContainer">
  <slot />
</div>

<style>
  .pageContainer {
    max-width: 1000px;
    min-width: 375px;
    margin: 0 auto;
    padding: 32px 20px;
    color: var(--color-text);
  }
</style>
